/* 全局样式表 */
html,body,#app{
    height:100%;
    margin:0;
    padding:0;
    /* 屏幕最小宽度 */
    min-width: 1366px;
}

/* 面包屑底部 */
.el-breadcrumb{
    margin-bottom: 15px; 
    font-size: 12px; 
}

/* 卡片视图 */
.el-card{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    
}

/* 表格上间距和字体大小 */
.el-table{
    margin-top: 15px;
    font-size: 12px;
}

/* 分页栏与上部的间隔 */
.el-pagination{
    margin-top: 15px;
}

/* 步骤条样式 */
.el-steps{
    margin: 15px 0;
}
.el-step_title{
    font-size: 13px;
}
.ql-editor{
    min-height: 300px;
}